<h1>User Menu</h1>

<div class="avatarcontainer">
  <img class="avatarImg" src="assets/img/avatars/avatarDab.webp">
  <div class="userdata">
    <h2>xxX4205w4g5c0pe1337Xxx</h2>
    <p>Dorito Avenue 69</p>
    <p>800813 Trier</p>
  </div>
</div>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Pizza Salami</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>


